{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">{{ title }}</h1>

    <ul class="entry-list"> <!-- Added the entry-list class here -->
        {% for entry in entries %}
        <li>
            <a href="{% url 'entry' entry %}" class="text-decoration-none">{{ entry }}</a>
        </li>
        {% empty %}
        <li class="text-center">No matches found for your search!</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


